#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Pie {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Facebook {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Twitter {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Google {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Correo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Telefono {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Direccion {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Imagen_email {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Imagen_tlf {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Imagen_direccion {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-usuario {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Password {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Input_contrasenia INPUT {
  font-family: Arial;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Boton_sign_in {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Boton_cancel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Titulo_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Agenda {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Talleres {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Conferencias_exposiciones {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Contactanos {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Acerca_de {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Google_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Twitter_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Facebook_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-nombre_usuario {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Boton_login {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 #s-Logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7fce5091-7b34-428b-b288-71c41d8c5a31 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}