#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Panel_login_interior {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 411px;
  height: 325px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-usuario {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Password {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Boton_sign_in {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #428BCA;
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Boton_cancel {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Pie_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Facebook_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Twitter_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Google_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Correo_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Telefono_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Direccion_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Imagen_email {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Imagen_tlf {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Imagen_direccion {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Sidebar_1 {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Filtro_tipo_evento_1-options {
  background-color: #FFFFFF;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Filtro_categoria_1-options {
  background-color: #FFFFFF;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Filtro_duracion_1-options {
  background-color: #FFFFFF;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Filtro_lugar_1-options {
  background-color: #FFFFFF;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Filtro_idioma_1-options {
  background-color: #FFFFFF;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Filtro_fecha_1-options {
  background-color: #FFFFFF;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Panel_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Panel_4 > .valign {
  vertical-align: middle;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Agenda_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Talleres_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Conferencias_exposiciones_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Contactanos_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Acerca_de_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Google_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Twitter_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Facebook_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Idioma-options {
  background-color: #FFFFFF;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-nombre_usuario {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Boton_login {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 112px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Logo {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Titulo {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Panel_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Imagen_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Evento_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Fecha_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Nombre_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Ponente_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Categoria_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Lugar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Imagen_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Evento_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Fecha_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Nombre_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Ponente_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Categoria_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Lugar_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Imagen_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Evento_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Fecha_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Nombre_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Ponente_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Categoria_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Lugar_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}