#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-usuario {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Password {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Input_contrasenia INPUT {
  font-family: Arial;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Boton_sign_in {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Boton_cancel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Pie_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Facebook_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Twitter_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Google_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Correo_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Telefono_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Direccion_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Imagen_email {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Imagen_tlf {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Imagen_direccion {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Sidebar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Agenda_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Talleres_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Conferencias_exposiciones_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Contactanos_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Acerca_de_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Google_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Twitter_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Facebook_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-nombre_usuario {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Boton_login {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Titulo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Imagen_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Evento_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Fecha_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Nombre_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Ponente_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Categoria_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Lugar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Imagen_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Evento_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Fecha_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Nombre_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Ponente_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Categoria_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Lugar_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Imagen_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Evento_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Fecha_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Nombre_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Ponente_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Categoria_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e #s-Lugar_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c97bda1-22c9-488a-904e-56c3e312af2e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}