#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Pie {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Facebook {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Twitter {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Google {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Correo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Telefono {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Direccion {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Imagen_email {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Imagen_tlf {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Imagen_direccion {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-usuario {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Password {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Input_contrasenia INPUT {
  font-family: Arial;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Boton_sign_in {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Boton_cancel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Sidebar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Agenda {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Talleres {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Conferencias_exposiciones {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Contactanos {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Acerca_de {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Google_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Twitter_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Facebook_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-nombre_usuario {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Boton_login {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Titulo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Imagen_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Evento_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Fecha_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Nombre_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Ponente_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Categoria_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Lugar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Imagen_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Evento_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Fecha_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Nombre_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Ponente_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Categoria_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Lugar_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Imagen_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Evento_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Fecha_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Nombre_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Ponente_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Categoria_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Lugar_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 #s-Logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca9f820f-e335-4497-9253-5cc1cd753aa3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}