#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_login {
  position: absolute;
  display: none;
  z-index: 100;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_login_interior {
  width: 411px;
  height: 325px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  box-shadow: none;
  overflow: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_login_interior .layout {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_login_interior td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_login_interior .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-usuario {
  position: absolute;
  width: 342px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Dosis-Regular',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-usuario .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-usuario span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-usuario span#rtr-s-usuario_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_usuario input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_usuario input::-moz-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_usuario input:-moz-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_usuario input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_usuario {
  position: absolute;
  padding-left: 7px;
  width: 331px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_usuario .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_usuario input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
  text-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Password {
  position: absolute;
  width: 342px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Dosis-Regular',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Password .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Password span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Password span#rtr-s-Password_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_contrasenia input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_contrasenia input::-moz-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_contrasenia input:-moz-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_contrasenia input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_contrasenia {
  position: absolute;
  padding-left: 7px;
  width: 331px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_contrasenia .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_contrasenia input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
  text-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Boton_sign_in {
  position: absolute;
  width: 366px;
  height: 38px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #428BCA;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Dosis-Regular',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Boton_sign_in .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Boton_sign_in span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Boton_sign_in span#rtr-s-Boton_sign_in_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Grupo_recordar {
  position: absolute;
  width: 137px;
  height: 21px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_3 {
  position: absolute;
  width: 117px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Dosis-Regular',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_3 span#rtr-s-Label_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 {
  position: absolute;
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Boton_cancel {
  position: absolute;
  width: 88px;
  height: 38px;
  background-color: #F44336;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Dosis-Regular',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Boton_cancel .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Boton_cancel span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Boton_cancel span#rtr-s-Boton_cancel_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Grupo_texto {
  position: absolute;
  width: 157px;
  height: 21px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Dosis-Regular',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 span#rtr-s-Text_2_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Dosis-Regular',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 span {
  color: #9900FF;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #9900FF;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Dosis-Regular',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_76 > svg {
  width: 31px;
  height: 31px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_76 {
  position: absolute;
  width: 31px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_12 > svg {
  width: 29px;
  height: 31px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_12 {
  position: absolute;
  width: 29px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Grupo_pie {
  position: absolute;
  width: 960px;
  height: 84px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Pie {
  position: absolute;
  width: 960px;
  height: 83px;
  background-color: #9CB8D5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Pie .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Pie span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Pie span#rtr-s-Pie_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Facebook > svg {
  width: 56px;
  height: 56px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Facebook {
  position: absolute;
  width: 56px;
  height: 56px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Twitter > svg {
  width: 56px;
  height: 56px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Twitter {
  position: absolute;
  width: 56px;
  height: 56px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Google > svg {
  width: 56px;
  height: 56px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Google {
  position: absolute;
  width: 56px;
  height: 56px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Correo {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Dosis-Bold',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Correo .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Correo span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Bold',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Correo span#rtr-s-Correo_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Correo span#rtr-s-Correo_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Telefono {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Dosis-Bold',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Telefono .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Telefono span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Bold',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Telefono span#rtr-s-Telefono_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Telefono span#rtr-s-Telefono_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Direccion {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Dosis-Bold',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Direccion .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Direccion span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Bold',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Direccion span#rtr-s-Direccion_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Direccion span#rtr-s-Direccion_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Imagen_email > svg {
  width: 21px;
  height: 21px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Imagen_email {
  position: absolute;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Imagen_tlf > svg {
  width: 21px;
  height: 21px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Imagen_tlf {
  position: absolute;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Imagen_direccion > svg {
  width: 21px;
  height: 21px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Imagen_direccion {
  position: absolute;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Grupo_sidebar {
  position: absolute;
  width: 244px;
  height: 489px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Sidebar {
  position: absolute;
  width: 243px;
  height: 489px;
  background-color: #F5F5F5;
  background-image: none;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Dosis-Regular',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Sidebar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Sidebar span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Sidebar span#rtr-s-Sidebar_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_2 > svg {
  width: 34px;
  height: 34px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_2 {
  position: absolute;
  width: 34px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Filtro_tipo_evento {
  position: absolute;
  padding-left: 10px;
  width: 186px;
  height: 24px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  box-shadow: none;
  text-shadow: none;
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Filtro_tipo_evento .value {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Filtro_tipo_evento .valign {
  width: 168px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Filtro_categoria {
  position: absolute;
  padding-left: 10px;
  width: 186px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  box-shadow: none;
  text-shadow: none;
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Filtro_categoria .value {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Filtro_categoria .valign {
  width: 168px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Filtro_duracion {
  position: absolute;
  padding-left: 10px;
  width: 186px;
  height: 24px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  box-shadow: none;
  text-shadow: none;
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Filtro_duracion .value {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Filtro_duracion .valign {
  width: 168px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Filtro_lugar {
  position: absolute;
  padding-left: 10px;
  width: 186px;
  height: 24px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  box-shadow: none;
  text-shadow: none;
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Filtro_lugar .value {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Filtro_lugar .valign {
  width: 168px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Filtro_idioma {
  position: absolute;
  padding-left: 10px;
  width: 186px;
  height: 24px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  box-shadow: none;
  text-shadow: none;
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Filtro_idioma .value {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Filtro_idioma .valign {
  width: 168px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Filtro_fecha {
  position: absolute;
  padding-left: 10px;
  width: 186px;
  height: 24px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  box-shadow: none;
  text-shadow: none;
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Filtro_fecha .value {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Filtro_fecha .valign {
  width: 168px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Barra_busqueda input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Barra_busqueda input::-moz-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Barra_busqueda input:-moz-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Barra_busqueda input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Barra_busqueda {
  position: absolute;
  padding-left: 15px;
  width: 153px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 20px 20px 20px 20px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Barra_busqueda .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Barra_busqueda input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
  text-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Descripcion {
  position: absolute;
  width: 716px;
  height: 119px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Titulo_2 {
  position: absolute;
  padding-left: 14px;
  width: 700px;
  height: 37px;
  background-color: #F5F5F5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Dosis-ExtraBold',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Titulo_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Titulo_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-ExtraBold',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Titulo_2 span#rtr-s-Titulo_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-ExtraBold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Dynamic_Panel_4 {
  position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_4 {
  width: 714px;
  height: 80px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 {
  position: absolute;
  padding-left: 5px;
  width: 711px;
  height: 80px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Dosis-Light',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Light',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Proximos_eventos {
  position: absolute;
  width: 716px;
  height: 372px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Titulo {
  position: absolute;
  padding-left: 14px;
  width: 700px;
  height: 37px;
  background-color: #F5F5F5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Dosis-ExtraBold',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Titulo .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Titulo span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-ExtraBold',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Titulo span#rtr-s-Titulo_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-ExtraBold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Dynamic_Panel_2 {
  position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_2 {
  width: 714px;
  height: 333px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Grupo_1 {
  position: absolute;
  width: 717px;
  height: 118px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Imagen_1 {
  position: absolute;
  width: 149px;
  height: 118px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Evento_1 {
  position: absolute;
  width: 568px;
  height: 118px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Evento_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Evento_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Evento_1 span#rtr-s-Evento_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Fecha_1 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: 'Dosis-SemiBold',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Fecha_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Fecha_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-SemiBold',Arial;
  font-size: 14.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Fecha_1 span#rtr-s-Fecha_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-SemiBold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Nombre_1 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: 'Dosis-SemiBold',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Nombre_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Nombre_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-SemiBold',Arial;
  font-size: 14.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Nombre_1 span#rtr-s-Nombre_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-SemiBold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ponente_1 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Dosis-Medium',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ponente_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ponente_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ponente_1 span#rtr-s-Ponente_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Categoria_1 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Dosis-Medium',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Categoria_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Categoria_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Categoria_1 span#rtr-s-Categoria_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Lugar_1 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Dosis-UltraLight',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Lugar_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Lugar_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-UltraLight',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Lugar_1 span#rtr-s-Lugar_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-UltraLight',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Grupo_2 {
  position: absolute;
  width: 717px;
  height: 118px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Imagen_2 {
  position: absolute;
  width: 149px;
  height: 118px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Evento_2 {
  position: absolute;
  width: 568px;
  height: 118px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Evento_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Evento_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Evento_2 span#rtr-s-Evento_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Fecha_2 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: 'Dosis-SemiBold',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Fecha_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Fecha_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-SemiBold',Arial;
  font-size: 14.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Fecha_2 span#rtr-s-Fecha_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-SemiBold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Nombre_2 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: 'Dosis-SemiBold',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Nombre_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Nombre_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-SemiBold',Arial;
  font-size: 14.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Nombre_2 span#rtr-s-Nombre_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-SemiBold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ponente_2 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Dosis-Medium',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ponente_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ponente_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ponente_2 span#rtr-s-Ponente_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Categoria_2 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Dosis-Medium',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Categoria_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Categoria_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Categoria_2 span#rtr-s-Categoria_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Lugar_2 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Dosis-UltraLight',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Lugar_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Lugar_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-UltraLight',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Lugar_2 span#rtr-s-Lugar_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-UltraLight',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_navegacion {
  position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_3 {
  width: 829px;
  height: 47px;
  background-color: #9CB8D5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_3 .verticalalign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Agenda {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: 89px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: 'Dosis-Medium',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Agenda .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Agenda span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 14.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Agenda span#rtr-s-Agenda_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Talleres {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: 89px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: 'Dosis-Medium',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Talleres .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Talleres span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 14.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Talleres span#rtr-s-Talleres_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Conferencias_exposiciones {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: 'Dosis-Medium',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Conferencias_exposiciones .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Conferencias_exposiciones span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 14.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Conferencias_exposiciones span#rtr-s-Conferencias_exposiciones_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Contactanos {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: 'Dosis-Medium',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Contactanos .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Contactanos span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 14.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Contactanos span#rtr-s-Contactanos_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Acerca_de {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;
  width: 89px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: 'Dosis-Medium',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Acerca_de .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Acerca_de span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 14.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Acerca_de span#rtr-s-Acerca_de_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Dosis-Medium',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Google_1 > svg {
  width: 56px;
  height: 46px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Google_1 {
  width: 56px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Twitter_1 > svg {
  width: 56px;
  height: 46px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Twitter_1 {
  width: 56px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Facebook_1 > svg {
  width: 56px;
  height: 46px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Facebook_1 {
  width: 56px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Idioma {
  position: absolute;
  padding-left: 10px;
  width: 86px;
  height: 24px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  box-shadow: none;
  text-shadow: none;
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Idioma .value {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Idioma .valign {
  width: 68px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Grupo_usuario {
  position: absolute;
  width: 88px;
  height: 40px;
  display: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-nombre_usuario {
  position: absolute;
  width: 48px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Dosis-Regular',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-nombre_usuario .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-nombre_usuario span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-nombre_usuario span#rtr-s-nombre_usuario_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-nombre_usuario span#rtr-s-nombre_usuario_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Dosis-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 > svg {
  width: 41px;
  height: 40px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  position: absolute;
  width: 41px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Boton_login {
  position: absolute;
  width: 112px;
  height: 32px;
  background-color: #9CB8D5;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: 'Dosis-Light',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Boton_login .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Boton_login span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Dosis-Light',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Boton_login span#rtr-s-Boton_login_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Dosis-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Logo {
  position: absolute;
  width: 99px;
  height: 99px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}