#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-usuario {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Password {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Input_contrasenia INPUT {
  font-family: Arial;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Boton_sign_in {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Boton_cancel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Pie {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Facebook {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Twitter {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Google {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Correo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Telefono {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Direccion {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Imagen_email {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Imagen_tlf {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Imagen_direccion {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-nombre_usuario {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Boton_login {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Facebook_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Twitter_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Google_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Agenda {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Talleres {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Conferencias_exposiciones {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Contactanos {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Acerca_de {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Google_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Twitter_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 #s-Facebook_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5565209-964b-4364-a964-07770e2a0bf7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}