#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Panel_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Panel_3 > .valign {
  vertical-align: middle;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Agenda {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Talleres {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Conferencias_exposiciones {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Contactanos {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Acerca_de {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Google_nav {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Twitter_nav {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Facebook_nav {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Panel_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 406px;
  height: 144px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Button_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 77px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Pie {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Facebook {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Twitter {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Google {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Correo {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Telefono {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Direccion {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Sidebar {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Filtro_tipo_evento-options {
  background-color: #FFFFFF;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Filtro_categoria-options {
  background-color: #FFFFFF;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Filtro_duracion-options {
  background-color: #FFFFFF;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Filtro_lugar-options {
  background-color: #FFFFFF;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Filtro_idioma-options {
  background-color: #FFFFFF;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Filtro_fecha-options {
  background-color: #FFFFFF;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Titulo_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Panel_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Titulo {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Panel_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Imagen_1 {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Evento_1 {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Fecha_1 {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Nombre_1 {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Ponente_1 {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Categoria_1 {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Lugar_1 {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Imagen_2 {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Evento_2 {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Fecha_2 {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Nombre_2 {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Ponente_2 {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Categoria_2 {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Lugar_2 {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Idioma-options {
  background-color: #FFFFFF;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Boton_login {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 112px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Logo {
  -ms-transform: rotate(0.0deg);
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}