#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Agenda {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Talleres {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Conferencias_exposiciones {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Contactanos {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Acerca_de {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Google_nav {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Twitter_nav {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Facebook_nav {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Pie {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Facebook {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Twitter {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Google {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Correo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Telefono {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Direccion {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Sidebar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Titulo_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Titulo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Imagen_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Evento_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Fecha_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Nombre_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Ponente_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Categoria_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Lugar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Imagen_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Evento_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Fecha_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Nombre_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Ponente_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Categoria_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Lugar_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Boton_login {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 #t-Logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1013fc1b-6684-40ae-8bff-fc867e749de4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}